<form ng-submit="login.loginCustomer()">
	<div class="select is-fullwidth">
     	<select ng-model="login.selectedCustomer" ng-options="customer.customerId as customer.firstName for customer in login.customers">
            <option value="" disabled>Select a Customer...</option>
        </select>
    </div>
	<p class="control has-icon">
		<!-- <label>Password</label> -->
		<input class="input" type="password" placeholder="Password" ng-model="login.loginInfo.password">
		<i class="fa fa-lock"></i>
	</p>
	<p class="control">
		<button type="submit" class="button is-success">Login</button>
	</p>
</form>



<!-- bulma sign-in sheet example -->
<!-- <p class="control has-icon">
  <input class="input" type="email" placeholder="Email">
  <i class="fa fa-envelope"></i>
</p>
<p class="control has-icon">
  <input class="input" type="password" placeholder="Password">
  <i class="fa fa-lock"></i>
</p>
<p class="control">
  <button class="button is-success">
    Login
  </button>
</p> -->