<section id="hero1" class="hero is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="modal"> 
          <header>
            <h1 id="headerText1">NOSHSPOT</h1>
            <h2 id="headerText2">Deliveries Done Right</h2>
            <button class="button is-medium modal-login-button">
            <label for="modalTrigger"> Login<i class="icons fa fa-cutlery" aria-hidden="true"></i></label>
          </button> 
          </header>
          <div>
            <input class="modal-input" id="modalTrigger" type="checkbox">
              <div class="modal-overlay">
                <label class="modal-trigger-label" for="modalTrigger">&#10006;</label>
                  <div>
                    <form ng-submit="login.loginCustomer()">
                      <div class="select is-fullwidth">
                      <select ng-model="login.selectedCustomer" ng-options="customer.customerId as customer.firstName for customer in login.customers">
                       <option value="" disabled>Select a Customer...</option>
                      </select>
                      </div>
                      <p class="control has-icon">
                      <!-- <label>Password</label> -->
                        <input class="input" type="password" placeholder="Password" ng-model="login.loginInfo.password">
                        <i class="fa fa-lock"></i>
                      </p>
                      <p class="control">
                        <button type="submit" class="button is-success">Login</button>
                          <a class="button is-success" ng-click="login.expand = !login.expand">New Customer</a>
                      </p>
                    </form>
                  </div>
              </div>
              <div class="columns" ng-show="login.expand">
                <div class="column">
                  <form  ng-submit="login.addNewCustomer(login.newCustomer)">
                    <label class="label">Password</label>
                    <p class="control">
                      <input class="input" type="password" ng-model="login.password">
                    </p>
                    <label class="label">Confirm Password</label>
                    <p class="control">
                      <input class="input" type="password" ng-model="login.confirmPassword">
                    </p>
                    <label class="label">First Name</label>
                    <p class="control">
                      <input class="input" type="text" ng-model="login.newCustomer.firstName">
                    </p>
                    <label class="label">Last Name</label>
                    <p class="control">
                      <input class="input" type="text" ng-model="login.newCustomer.lastName">
                    </p>
                    <label class="label">Address</label>
                    <p class="control">
                      <input class="input" type="text" ng-model="login.newCustomer.address">
                    </p>
                    <label class="label">Zip Code</label>
                    <p class="control">
                      <input class="input" type="text" ng-model="login.newCustomer.zipCode">
                    </p>
                    <label class="label">Telephone</label>
                    <p class="control">
                      <input class="input" type="text" ng-model="login.newCustomer.telephone">
                    </p>
                    <label class="label">Email</label>
                    <p class="control">
                      <input class="input" type="text" ng-model="login.newCustomer.email">
                    </p>
                    <p class="control">
                      <button class="button is-success" type="submit">Submit</button>
                    </p>
                  </form>
                </div>
              </div>
          </div>
      </div>
    </div>
  </div>
    </section>
    <section id="hero2" class="hero is-info is-medium">
      <div class="container">
        <div class="hero-body">
        <p class="p-tag-left">The Most Convenient Food Service..Ever.</p>
          <div class="columns">
            <div class="column is-4">
              <div class="box">
                <div>
                  <img src="../img/personTexting.jpg">
                </div>
              </div>
              <p class="p-tag">Easy Ordering.</p>
            </div>
            <div class="column is-4">
              <div class="box">
                <div>
                  <img src="../img/goodQuality.jpg">
                </div>
              </div>
              <p class="p-tag">High Quality Food.</p>
            </div>
            <div class="column is-4">
              <div class="box">
                <div>
                  <img src="../img/fooddelivery.jpg">
                </div>
              </div>
              <p class="p-tag">Fast Delivery.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="hero3" class="hero is-large">
      <div class="hero-body">
        <div class="container">
          <h1 style="color: #fff; font-size: 2em">
            Simplicity.
          </h1>
        </div>
      </div>
    </section>
    <section id="hero4" class="hero is-dark is-medium">
      <div class="hero-body">
        <div class="container">
          <div class="columns">
            <div class="column is-3">
              <div class="card">
              <div class="card-content">
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-32x32">
                      <img src="http://placehold.it/64x64" alt="Image">
                    </figure>
                  </div>
                  <div class="media-content">
                    <p class="is-5">Reggie Sibley</p>
                    <small><p class="is-6">@RegGetsHoes</p></small>
                  </div>
                </div>
                <div class="content">
                  I like it. Easy to use. Easy to pay. Hell yeah! A +
                  <br>
                  <small>11:09 PM - 16 Sep 2016</small>
                </div>
              </div>
            </div>
          </div>

          <div class="column is-3">
            <div class="card">
              <div class="card-content">
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-32x32">
                      <img src="http://placehold.it/64x64" alt="Image">
                    </figure>
                  </div>
                  <div class="media-content">
                    <p class="is-5">Jeff Winkler</p>
                    <small><p class="is-6">@JeffWinkler</p></small>
                  </div>
                </div>
                <div class="content">
                  All I can say is, Wow! Awesome food. Fast Delivery. Easy Process.
                  Will do business again!
                  <br>
                  <small>09:09 PM - 15 Sep 2016</small>
                </div>
              </div>
            </div>
          </div>

          <div class="column is-3">
            <div class="card">
              <div class="card-content">
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-32x32">
                      <img src="http://placehold.it/64x64" alt="Image">
                    </figure>
                  </div>
                  <div class="media-content">
                    <p class="is-5">Cole Logan</p>
                    <small><p class="is-6">@ColeSnapYoFingaz</p></small>
                  </div>
                </div>
                <div class="content">
                  How can I invest? It goes hard.
                  <br>
                  <small>04:09 PM - 17 Sep 2016</small>
                </div>
              </div>
            </div>
          </div>

          <div class="column is-3">
            <div class="card">
              <div class="card-content">
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-32x32">
                      <img src="http://placehold.it/64x64" alt="Image">
                    </figure>
                  </div>
                  <div class="media-content">
                    <p class="is-5">Cameron Wilbey</p>
                    <small><p class="is-6">@CamWilbey</p></small>
                  </div>
                </div>
                <div class="content">
                  This app is so damn legit, it brings tears to my eyes.
                  <br>
                  <small>12:09 PM - 15 Sep 2016</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- bulma sign-in sheet example -->
<!-- <p class="control has-icon">
  <input class="input" type="email" placeholder="Email">
  <i class="fa fa-envelope"></i>
</p>
<p class="control has-icon">
  <input class="input" type="password" placeholder="Password">
  <i class="fa fa-lock"></i>
</p>
<p class="control">
  <button class="button is-success">
    Login
  </button>
</p> -->